extends layout

block content
  h1= title
  -
    let results = [
      {
        "icecream_flavour": "Chocolate",
        "icecream_quantity": "3 liters",
        "icecream_cost": 60
      },
      {
        "icecream_flavour": "Butter Scotch",
        "icecream_quantity": "2 liters",
        "icecream_cost": 70
      },
      {
        "icecream_flavour": "Straw berry",
        "icecream_quantity": "3 liters",
        "icecream_cost": 90
      },                   
    ]
  div(class="container-fluid")
    div(class="row")
      each item,index in results
        div(class="col-sm-2", onclick=`buy(${index})`) flavour: #{item.icecream_flavour}
        div(class="col-sm-2", onclick=`buy(${index})`) Quantity: #{item.icecream_quantity}
        div(class="col-sm-2", onclick=`buy(${index})`) Cost: #{item.icecream_cost}
        br
        br
        
  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }