extends layout
block content
 h1= title
 - let icecreamid = toShow._id
 - let icecream_flavour  = toShow.icecream_flavour
 - let icecream_cost = toShow.icecream_cost
 - let icecream_quantity = toShow.icecream_quantity
 div
 div.row
 div(class='icecreamAttr mr-3') icecream ID is:
 div #{icecreamid}
 div.row
 div(class='icecreamAttr mr-3') icecream_flavour is:
 div #{icecream_flavour}
 div.row
 div(class='icecreamAttr mr-3') icecream_quantity is:
 div #{icecream_quantity}
 div.row
 div(class='icecreamAttr mr-3') icecream_Cost is:
 div #{icecream_cost}